In [1]:
# write a python program to convert a string to lower case
a='PADMA REVANTH'
a.lower()

'padma revanth'

In [57]:
#write a python program to convert only ODD indexd characters to lower case
b=input('ENTER : ')
b1=''
for i in range(len(b)):
    if  i%2==0:
        b1=b1+b[i].upper()
    else:
        b1=b1+b[i].lower()
b1

ENTER : PADMAREVANTH

'PaDmArEvAnTh'

In [59]:
#write a python program to convert only EVEN indexed characters to lower case
c=input('ENTER : ')
c1=''
for i in range(len(c)):
    if  i%2:
        c1=c1+c[i].upper()
    else:
        c1=c1+c[i].lower()
c1

ENTER : padmarevanth

'pAdMaReVaNtH'

In [60]:
#write a python program t0 convert only odd indexed characters to upper case
d=input('ENTER : ')
d1=''
for i in range(len(d)):
    if i%2:
        d1=d1+d[i].upper()
    else:
        d1=d1+d[i].lower()
d1

ENTER : padmarevanth

'pAdMaReVaNtH'

In [61]:
#write a python program t0 convert only even indexed characters to upper case
d=input('ENTER : ')
d1=''
for i in range(len(d)):
    if i%2:
        d1=d1+d[i].lower()
    else:
        d1=d1+d[i].upper()
d1

ENTER : padmarevanth

'PaDmArEvAnTh'

In [67]:
#write a python program where you have different variable which contains you name,gender,age,etc
a=input('MY NAME IS ')
b=int(input('MY AGE IS '))
C=int(input('MY PHONE NUMBER '))
d=input("MY FATHER'S NAME IS " )
e=input("MY MOTHER'S NAME IS ")

MY NAME IS PADMA REVANTH
MY AGE IS 22
MY PHONE NUMBER 1020304050
MY FATHER'S NAME IS GANGARAM
MY MOTHER'S NAME IS SIRI

In [73]:
#write a python program to count how many times'@' occured
e1='PADMAREVANTH'
e1.count('A')

3

In [77]:
#write a python program to get only names from the strings 
f='ram@gmail.com,sita@gmail.com,laxman@gmail.com,hanuman@gmail.com'
f.split('@gmail.com')

['ram', ',sita', ',laxman', ',hanuman', '']

In [85]:
#write a python program to remove vowels from the entire alphabets

g=input('ENTER ')
vowels=['a','e','i','o','u']
g1=''
for i in g:
    if i not in vowels:
        g1=g1.replace(i,'')
        g1=g1+i
    
print('after removing vowels :',g1)

ENTER padma revanth
after removing vowels : pdm rvnth

In [93]:
#find all occurrences of a substring in a given string by ignoring the case
h="welcome to Innomatics.innomatics awesome,isn't it?" 
h1=h.lower()
sub_string="innomatics"
count=h1.count(sub_string)
print('the innomatics count is :',count)

the innomatics count is : 2